.local-var {
  margin-top: 0;
  margin-bottom: 0;
}
.context-card {
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px grey;
  border-style: outset;
}
.CodeMirror {
  height: auto;
}
.CodeMirror-scroll {
  min-height: 400px;
}
#main {
  margin: 50px;
}