.local-var {
  margin-top: 0;
  margin-bottom: 0;
}

.context-card {
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px black;
  border-style: dashed;
}

.CodeMirror-scroll {
  min-height: 400px;
}

.CodeMirror {
  height: auto;
}

#main {
  margin: 50px;
}

.form-fluid {
  -webkit-transition: margin-left .5s linear;
  -moz-transition: margin-left .5s linear;
  -o-transition: margin-left .5s linear;
  transition: margin-left .5s linear;
}